.navbar {
    height: 50px;
    border-bottom: 0.5px solid rgb(227, 227, 227);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: grey;
    position: sticky;
    top: 0;

    .wrapper {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgrey;
            padding: 3px;

            input {
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder {
                    font-size: 12px;
                }
            }
        }

        .items {
            display: flex;
            align-items: center;

            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;

                .icon {
                    font-size: 20px;
                }

                .avatar {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                }

                .counter {
                    width: 15px;
                    height: 15px;
                    background-color: #f33;
                    color: #fff;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
            }
        }
    }
}